body{
    background: #BBD2FA;
}
#login_form {
    margin-top: 100px;
}
.main_content, #main_content{
    text-align: center;
    width: auto;
    height: auto;
    margin: 25px auto;
    position: relative;
}
#child, #adult{
    width: 60%;
    
}
.button_form{
    width: 100%;
    text-align: center;
    //height:50px;
    clear: both;
    position: relative;
}
#login_form .button_form input {
    margin: 0 0 60px 0;
    height:45px;
    border-radius:10px;
    border:2px solid #666666;
}
#adult_form .button_form input {
    margin:0 0 20px 0;
}
.button_form label {
    margin:0px;
}
.button_form button {
    margin:20px 0;
    height:50px;
    width:150px;
    border-radius:10px;
    border:2px solid #666666;
}
.button_form_mini{
    text-align: center;
    width: 45%;
    display: inline-block;
}
.button_form_mini button {
    width: 90px;
    border-radius: 10px;
    height: 30px;
    border: 2px groove #666666;
}
.button_form_mini p{
    margin: 0 0 0px 0;
}
input{
    width: 150px;
    border-radius: 3px;
    margin: 2px 0px;
    border: 2px groove #666666;
}
#canvas {
    border:2px solid #666666;
    background: #FFFFFF;
}
#release_adult,#release_child {
    text-align: justify;
}
h3 {
    text-align: center;
}
.inline_block {
    margin: 20px 0 0 0;
    width:210px;
    display:inline-block;
}
inline_block input {
    clear:both;
}
inline_block_1 label {
    clear:both;
}
.exec {
    text-align:center;
}
#contact_info {
    clear:right;
}
#contact_info, #printed_name {
    width:90%;
}
#clear img{
    width:30px;
    height:auto;
}
@media only screen and (orientation:landscape) {
 /* стили для пейзажа */
}
@media only screen and (orientation:portrait) {
 /* стили для портрета */
}